<div class="wrap h-clearfix">

	<div class="text">
		<div class="in">
      <%= siteSettings.about_text %>
    </div>

    <!-- Put this script tag to the place, where the Share button will be -->
    <script type="text/javascript"><!--
    document.write(VK.Share.button(false,{type: "round", text: "Share"}));
    --></script>
	</div>
	
	<a href="mailto:bedlam@urobarbos.com" class="contacts">
		<div class="box box-1"></div>
		<div class="box box-2"></div>
		<div class="box box-3"></div>
	</a>
	
	<div class="game-link">
		<a href="#game"><%= siteSettings.labels.play_button %></a>
	</div>

</div>